/* DEFAULT MOBILE STYLE */
body {
    width: (300/320)*100%;
    margin: 0 auto;
    background: @bg;
    color: @textColor;
}

img {
    max-width: 100%;
    display: block;
}

a {
    color: @linkColor;
    text-decoration: none;
}

h1 a {
    color: @textColor;
}

#access {
    position: absolute;
    top: -24px;
}

.content-main {
    article {
        background-color: rgba(240,240,240,0.9);
        color: @ground;
        padding: 10px;

        h1 {
            color: @white;
        }
    }
}

.content-sub {

}

.footer-main {

}

// Touch Specific Styles

.touch {
}
