// COLOURS

// Units

@line: 24;
@font-size: 16;
@em: @font-size*1em;

// Greyscale

@black:         #000000;
@greyMid:       #333333;
@grey:          #42423f;
@white:         #f0f0f0;

// Accents

@red:           #ea433c;
@ground:        #372f2b;
@grey:          #9a949e;

// Defaults

@textColor:     @white;
@linkColor:     @red;
@bg:            @ground;

// TYPOGRAPHY

// Fonts

@bodyFont:      @ubuntu;
@headerFont:    @blanch;

@blanch:        'blanchcaps', Helvetica, Arial, sans-serif;
@blanchInline:  'blanchcaps_inline', Helvetica, Arial, sans-serif;
@blanchLight:   'blanchcaps_light', Helvetica, Arial, sans-serif;
@ubuntu:        'ubunturegular', Helvetica, Arial, sans-serif;
@ubuntuMono:    'ubuntu_monoregular', Monaco, 'Courier New', monospace;

// Units

@base: 1.5em;
