// COLOURS

// Units

@line: 24;
@font-size: 16;
@em: @font-size*1em;

// Greyscale

@black:         #000000;
@greyMid:       #333333;
@grey:          #42423f;
@white:         #ffffff;

// Accents

@blue:          #0E5066;

// Defaults

@textColor:     @greyMid;
@linkColor:     @blue;
@bg:            @white;

// TYPOGRAPHY

// Fonts

@bodyFont:      @ubuntu;
@headerFont:    @novecento;
@monoFont:      @ubuntuMono;

@novecento:     'Novecento Wide', Helvetica, Arial, sans-serif;
@ubuntu:        'ubunturegular', Helvetica, Arial, sans-serif;
@ubuntuMono:    'ubuntu_monoregular', Monaco, 'Courier New', monospace;

// Units

@base: 1.5em;
