<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
    <meta name="description" content="{{ meta.description }}">
{% endif %}{% if meta.robots %}
    <meta name="robots" content="{{ meta.robots }}">
{% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />

    <script src="{{ theme_url }}/scripts/modernizr-2.6.1.min.js"></script>
</head>
<body>

    <header class="header-main">
	{% if is_front_page %}
	<h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
	{% else %}
	<p><a href="{{ base_url }}">{{ site_title }}</a></p>
	{% endif %}
	<nav class="nav">
	    <ul>
	    {% for page in pages %}
		<li><a href="{{ page.url }}">{{ page.title }}</a></li>
	    {% endfor %}
	    </ul>
	</nav>
    </header> <!-- close.header-main -->

    <section class="content-main">
    {% if is_front_page %} <!-- Front page lists all blog posts -->

    {% for page in pages %}
	{% if page.date %} <!-- Note we check for Date field (posts) here -->
	<article class="post">
	    <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
	    <p class="meta">{{ page.date_formatted }}</p>
	    <p class="excerpt">{{ page.excerpt }}</p>
	</article>
	{% endif %}
    {% endfor %}

    {% else %} <!-- Single page shows individual blog post -->

    <article class="post">
	{% if meta.title %}<h1>{{ meta.title }}</h1>{% endif %}
	<p class="meta">{{ meta.date_formatted }}</p>
	{{ content }}
    </article>

    {% endif %}
    </section> <!-- close .content-main -->

    <footer class="footer-main">
	Powered by <a href="http://pico.dev7studios.com">Pico</a> and Light Blog
    </footer> <!-- close .footer-main -->

</body>
</html>
