<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt-ie9"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <title>{% if meta.title %}{{ meta.title }} &bull; {% endif %}{{ site_title }}</title>
{% if meta.description %}
    <meta name="description" content="{{ meta.description }}">
{% endif %}{% if meta.robots %}
    <meta name="robots" content="{{ meta.robots }}">
{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

<!--[if IE 9 ]>
    <script>
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
        document.createElement('time');
        document.createElement('figure');
        document.createElement('figcaption');
        document.createElement('canvas');
    </script>
<![endif]-->

    <!-- Stylesheets -->
    <link href="{{ theme_url }}/css/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' />
    <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' />

</head>
<body>

    <div class="wrapper js-wrapper">

        {% include 'partials/header.html' %}

        {% include 'partials/navigation.html' %}

        <section class="content-main">
        {% if is_front_page %} <!-- Front page lists all blog posts -->

            {% include 'partials/post-list.html' %}

        {% else %}
            {% if meta.date %} <!-- Single page shows individual blog post or page -->

                {% include 'partials/post-single.html' %}

            {% else %}

                {% include 'partials/page-single.html' %}

            {% endif %}
        {% endif %}
        </section> <!-- close .content-main -->

        {% include 'partials/footer.html' %}

    </div> <!-- close .wrapper -->

    <!-- Scripts -->
    <script src="{{ theme_url }}/js/scripts.js"></script>

</body>
</html>
