<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />

    <title>{% if meta.title %}{{ meta.title }} &bull; {% endif %}{{ site_title }}</title>
{% if meta.description %}
    <meta name="description" content="{{ meta.description }}">
{% endif %}{% if meta.robots %}
    <meta name="robots" content="{{ meta.robots }}">
{% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css' />

</head>
<body>

    {% include 'partials/header.html' %}

    <section class="content-main">
    {% if is_front_page %} <!-- Front page lists all blog posts -->

        {% include 'partials/post-list.html' %}

    {% else %} <!-- Single page shows individual blog post -->
	{% if meta.date %}

        {% include 'partials/post-single.html' %}

	{% else %}

        {% include 'partials/page-single.html' %}

	</article>
	{% endif %}
    {% endif %}
    </section> <!-- close .content-main -->

    {% include 'partials/footer.html' %}

</body>
</html>
