// Post
// _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

.post__excerpt {
    border-bottom: solid 1px $colour__ui--light;
    border-top: solid 1px $colour__ui--light;
    margin-bottom: 2.2rem;
    padding: 1.2rem 0;
}

.post__link {
    color: $colour__accent;
    transition: color 0.3s;

    &:hover, &:focus, &:active {
        color: $colour__accent--light;
    }
}
