// Branding
// _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

.branding {
    text-transform: uppercase;
    font-family: $header__font;
    font-weight: 600;
    line-height: 3.6rem;
    margin-bottom: 0;

    @include gamma();

    @include bp(column-medium) {
        @include beta(true, false);
    }
}

.branding__link {
    color: $colour__ground;
}
