// Header
// _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

.header {
    background-color: $colour__copy;
    padding: $base__spacing--half;
    position: relative;

    @include bp (column-medium) {
        padding: $base__spacing--half $base__spacing--half 0;
    }
}
