// Header Main
// _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

.header-main {
    background-color: $colour__copy;
    padding: $base__spacing--half;
    margin-bottom: $base__spacing;
}
