// Variables
// _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

// Fonts

$header__font:                         'Novocento Wide', Arial, Helvetica, sans-serif;
$base__font:                           'Open Sans', Arial, Helvetica, sans-serif;
$mono__font:                            Monaco, Consolas, 'Courier New', monospace;

// Dimensions

$base__spacing:                         2.4rem;
$base__spacing--half:                   $base__spacing/2;

// Font sizes

$baseline__font-size--alpha:            6.0rem;
$baseline__font-size--beta:             3.6rem;
$baseline__font-size--gamma:            2.4rem;
$baseline__font-size--delta:            1.4rem;

// Line heights

$baseline__line-height--alpha:          7.2rem;
$baseline__line-height--beta:           4.8rem;
$baseline__line-height--gamma:          3.6rem;
$baseline__line-height--delta:          2.4rem;

// Colours

$colour__ground:                        #fff;
$colour__copy:                          #545454;
$colour__ui:                            #707070;
$colour__ui--light:                     #e0e0e0;
$colour__accent:                        #397B91;
$colour__accent--light:                 lighten($colour__accent, 10%);
$colour__accent--dark:                  darken($colour__accent, 10%);

// Base styles
// _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

html {
    font-size: 62.5%;
}

body {
    font-size: $baseline__font-size--delta;
    font-family: $base__font;
    background-color: $colour__ground;
    color: $colour__copy;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-family: $header__font;
    font-weight: 600;
}

code {
    font-family: $mono__font;
}
