// Add transition for set properties
// _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

@mixin transition ($properties...) {
    @if length($properties) >= 1 {
        transition: $properties;
        -webkit-transition: $properties;
        -ms-transition: $properties;
    }

    @else {
        $properties: all 0.2s linear 0s;
        transition: $properties;
        -webkit-transition: $properties;
        -ms-transition: $properties;
    }
}
