// Menu link
// _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

.menu-link {
    position: absolute;
    left: -2.0rem;
    top: 50%;
    height: 4.0rem;
    width: 4.0rem;
    margin-top: -2.1rem;
    background-color: $colour__copy;
    padding: 0.8rem 0.9rem;

    @include bp (column-medium) {
        display: none;
    }
}

.no-svg .menu-link {
    background-image: url('/themes/light-blog/images/menu-icon.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @include image-replacement();
}

.menu-link__icon path {
    fill: $colour__ground;
}
