// Menu link
// _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-


.menu-link {
    background: url('/themes/light-blog/images/menu-icon.svg') no-repeat;

    @include image-replacement();

    @include bp (column-medium) {
        display: none;
    }
}

.no-svg .menu-link {
    background-image: url('/themes/light-blog/images/menu-icon.png');
}
