// Nav main
// _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

.nav-main {
    position: absolute;
    right: 100%;
    top: 0;
    z-index: -1;
    width: 80%;

    @include bp (column-medium) {
        position: static;
    }
}

.nav-main__link {
    color: $colour__ground;
}


body {
    transition: transform 0.3s;

    &.menu-open {
        transform: translateX(80%);
        box-shadow: -3px 0 3px $colour__shadow;

        @include bp(column-medium) {
            transform: none;
        }
    }
}
