// Navigation
// _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

.navigation {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 280px;

    &.menu-open {
        transform: translateX(-280px);
    }

    @include bp (column-medium) {
        position: static;
    }
}

.navigation__list {
    @include bp (column-medium) {
        margin: 0;
    }
}

.navigation__item {
    @include bp (column-medium) {
        display: inline-block;

        &:after {
            content: ' \2022';
            color: $colour__ground;
        }

        &:last-child:after {
            content: '';
        }
    }
}

.navigation__link {
    color: $colour__ground;
}

.wrapper.menu-open {
    transform: translateX(280px);
}
