// Add clearfix rules to element
// _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

@mixin clearfix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
